@{
    ViewData["Title"] = "Thank you for your message, we will respond as soon as possible";
}
<head>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <h1 style="text-align:center;">@ViewData["Title"]</h1>

    <img src="~/img/Thank You.jpg" alt="Thanks" style="width:50%">
</body>
