@{ 
    ViewData["Title"] = "Contact";
}

<head>
    <link rel="stylesheet" href="~/css/Contact.css" />
</head>

<h1>@ViewData["Title"]</h1>

<div class="container">
    <form action="action_page.php">

        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your first name..">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">

        <label for="country">Country</label>
        <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="belgium">Belgium</option>
            <option value="canada">Canada</option>
            <option value="france">France</option>
            <option value="germany">Germany</option>
            <option value="the netherlands">The Netherlands</option>
            <option value="uk">UK</option>
            <option value="usa">USA</option>
        </select>

        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Any complaints? Write them down!" style="height:200px"></textarea>

        <input type="submit" value="Submit">

    </form>
</div>
