@model Project_informatica_website.Dbase.Person
@{
    ViewData["Title"] = "Contact";
}
<head>
   
    <script type="text/javascript" src='~/js/site.js'></script>
    <script>
        function validateForm() {
            var x = document.forms["ContactForm"]["firstname"].value;
            if (x == "") {
                alert("First Name must be filled out");
                return false;
            }
            var x = document.forms["ContactForm"]["lastname"].value;
            if (x == "") {
                alert("Last Name must be filled out");
                return false;
            }
            var x = document.forms["ContactForm"]["message"].value;
            if (x == "") {
                alert("Without a message we can't take action!");
                return false;
            }
        }
    </script>
  

   <link rel="stylesheet" href="~/css/Contact.css" /> 
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <h2 style="text-align: left;">
    </h2>
    <img align="right" style="width: 350px;" class="fr-dii fr-fic fr-fir" src="img/map.jpg" width="570">
    <p style="text-align: left;">
        For any burning questions, please fill in the form at the bottom of the page,<br />
        or you can reach us using the information listed below!<br />
        <br />Adres: Buitenhof 20a<br />
        2513 AG Den Haag<br>
        E-mailadres: <a href="mailto:info@cinemacity.nl">info@cinemacity.nl</a><br />
        Telefoonnummer: +31 (0)6 89 31 54 78<br />
        Openingstijden:<br />
        Zondag t/m donderdag<br />
        11:00 - 23:00<br />
        Vrijdag en zaterdag:<br />
        09:00 - 02:00<br />
    </p>
    <!--
    <form method="post" class="contactform">
        <div class="form-group">
            Html.LabelFor(m => m.FirstName)
            Html.TextBoxFor(m => m.FirstName)
            Html.ValidationMessageFor(m => m.FirstName)
        </div>

        <div class="form-group">
            Html.LabelFor(m => m.LastName)
           Html.TextBoxFor(m => m.LastName)
            Html.ValidationMessageFor(m => m.LastName)
        </div>

        <div class="form-group">
            Html.LabelFor(m => m.Email)
            Html.TextBoxFor(m => m.Email)
            Html.ValidationMessageFor(m => m.Email)
        </div>

        <div class="form-group">
            Html.LabelFor(m => m.Description)
            Html.TextBoxFor(m => m.Description)
             eeen apestaartje ervoor!!!!! Html.ValidationMessageFor(m => m.Description)
        </div>

        <input type="submit" value="verstuur" />
    </form>
    -->


    <h1>Contact Form:</h1>
    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col-25">
                    <label for="fname">First Name</label>
                </div>
                <div class="col-75">
                    <input type="text" name="firstname" placeholder="Your first name..">

                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="lname">Last Name</label>
                </div>
                <div class="col-75">
                    <input type="text" name="lastname" placeholder="Your last name..">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="country">Country</label>
                </div>
                <div class="col-75">
                    <select name="country">
                        <option value="australia">Australia</option>
                        <option value="belgium">Belgium</option>
                        <option value="canada">Canada</option>
                        <option value="france">France</option>
                        <option value="germany">Germany</option>
                        <option value="the netherlands">The Netherlands</option>
                        <option value="uk">UK</option>
                        <option value="usa">USA</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="message">Message</label>
                </div>
                <div class="col-75">
                    <textarea name="message" placeholder="Any complaints? Write them down!" style="height:200px"></textarea>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Submit">
            </div>

        </form>
    </div>
</body>    


