<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <h2 style="text-align: left;">
            Contact:
    </h2>
    <p style="text-align: left;">
        Als u vragen heeft of meer informatie wilt, aarzel niet en neem<br />
        gerust contact met ons op, op de volgende plekken;<img align="center" style="width: 382px;" class="fr-dii fr-fic fr-fir" src="img/map.jpg" width="570">
        Adres:&nbsp;Buitenhof 20a<br />
        2513 AG Den Haag<br>
        E-mailadres: <a href="mailto:info@cinemacity.nl">info@cinemacity.nl</a><br />
        Telefoonnummer: +31 (0)6 89 31 54 78<br />
        Openingstijden:<br />
        Zondag t/m donderdag<br />
        11:00 - 23:00<br />
        Vrijdag en zaterdag:<br />
        09:00 - 02:00<br />
    </p>
</body>
</html>