@using Project_informatica_website.Dbase;
@model List<Actor>
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <script type="text/javascript" src='~/js/site.js'></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site - Copy.css" />
</head>
<body>
    <!-- Check Cookie gebruik gemaakt van:https://www.w3schools.com/js/js_cookies.asp -->
    <script>checkCookie()</script>
</body>
<div class="text-center">
    <!-- display user from Cookie -->
    @if (@ViewData["user"] != null)
    {
        <h1 class="display-4">Welcome, @ViewData["user"]</h1>
    }
    @if (@ViewData["user"] == null)
    {
        <h1 class="display-4">Welcome to Cinema City! please Log in :)</h1>
    }
</div>
<div class="box">
    Welcome to the website of Cinema City! <br/>
    Check out if your favourite movie is available in our collection and order your tickets! <br/>
    Please enjoy the movie, and turn your phones off!!! :)
</div>
