@using Project_informatica_website.Dbase;
@model List<Actor>
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <script type="text/javascript" src='~/js/site.js'></script>
</head>
<body>
    <!-- Check Cookie gebruik gemaakt van:https://www.w3schools.com/js/js_cookies.asp -->
    <script>checkCookie()</script>
</body>
<div class="text-center">
    <!-- display user from Cookie -->
    <h1 class="display-4">Welcome, @ViewData["user"]</h1>


</div>
<div class="box">
    @if (Model != null)
    {
        @foreach (Actor m in Model)
        {
            <p style="color:white">@m.Actor_ID - @m.Name @m.Birth_Date-</p>

            <img src="~/img/@m.File"
                 class="Border"
                 height="259" width="157"
                 asp-append-version="true" />
        }
    }

</div>