@using Project_informatica_website.Dbase;
@model MoviefromAPI
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <h2 style="text-align: left;">
        Kaartje:
    </h2>
    <p style="text-align: left;">
        <h1>Title      : @Model.Title</h1>
        <h1>Plot        :@Model.Plot</h1>
        <h1>IMDB Rating: @Model.ImdbRating</h1>

    </p>
</body>
</html>