<!DOCTYPE html>
@using Project_informatica_website.Dbase;
@model List<Users>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/site - Copy (2).css">
</head>
<body>
    <h1>Login:</h1>
    <h2>Please log in to our website, by clicking the button below, for enhancing your user experience! </h2>
    <!-- Button to open the modal login form -->
    <div class="center">
        <button onclick="document.getElementById('id01').style.display='block'">Login</button>

        <img src="../img/click-it.gif" />
    </div>
    <!-- The Modal -->
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'"
              class="close" title="Close Modal">&times;</span>

        <!-- Modal Content -->
        <form class="modal-content animate" action="../Action_Login">
            <div class="imgcontainer">
                <img src="~/img/img_avatar2.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <!-- Encryption van het wachtwoord via Hashing-->
                <input type="password" encrypt="sha1" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw"> <a href="#">Forgot password?</a></span>
            </div>
        </form>
    </div>
    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</body>
</html>