@using Project_informatica_website.Dbase;
@model List<Movie>
@{
    ViewData["Title"] = "Home Page";
    List<Actor> actors = ViewData["actors"] as List<Actor>;
}
<head>
    <script type="text/javascript" src='~/js/site.js'></script>
</head>
<div class="main">

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        @if (actors != null)
        {
            foreach(var actor in actors)
                {
                    <p>@actor.Name</p>
                }
        }

    </div>

    <h2>Onze films</h2>

    <div id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')"> Show all</button>
        <button class="btn" onclick="filterSelection('Kinderen')"> Kinderen</button>
        <button class="btn" onclick="filterSelection('Volwassenen')"> Volwassenen</button>
        <button class="btn" onclick="filterSelection('Thriller')"> Thriller</button>
    </div>


    @if (Model != null)
    {
        <!-- Portfolio Gallery Grid https://www.w3schools.com/howto/howto_js_portfolio_filter.asp -->
        <div class="row">
            @foreach (Movie m in Model)
            {
                <div class="column @m.Genre">
                    <div class="content">
                        <a href="Kaartje/@m.IMDB">
                        <img src="~/img/@m.File_Movie" alt="Mountains" style="height:500px">
                        </a>
                        <h4 style="color:black">@m.IMDB</h4>
                        <p style="color:black">@m.Plot</p>
                    </div>
                </div>
            }
        </div>
        <!-- END GRID -->
    }

    <script>filterSelection('all')</script>

    <h2>Einde van films (komt dit op het scherm?)</h2>
</div>