@using Project_informatica_website.Dbase;
@model List<Movie>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>


</div>
<div class="box">
    @if (Model != null)
    {
        @foreach (Movie m in Model)
        {
            <p style="color:white">@m.IMDB - @m.Title @m.Plot-</p>

            <img src="~/img/@m.File_Movie"
                 class="Border"
                 height="259" width="157"
                 asp-append-version="true" />
        }
    }

    }
</div>