/* text is wit*/
body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
/* style voor text */
input[type=text], select, textarea {
    width: 100%; /* volle breedte */
    color: white;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

/* kleur voor submit knop*/
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    /* andere kleur als muis over 'submit' gaat */
input[type=submit]:hover {
        background-color: #45a049;
    }

/* kleur voor achtergrond toevoegen en padding aanpassen */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    color: red;
}

.contactform .container{ 
    color: white;
}
.contactform label {
    width: 100px;
    color: white;
}

.contactform .contactform {
    color: white;
}
.contactform .field-validation-error {
    color: red;
    margin-left: 10px;
}
